{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titleCruds">Questions list</h1>
    <ul>
        <li>
            <a class="buttonsNew" href="{{ path('question_new') }}">Create a new question</a>
        </li>
    </ul>
    <table class="manage-poi-list">

        <thead>
            <tr>

                <th>Questiontext</th>
                <th>Correctanswer</th>
                <th>Answer1</th>
                <th>Answer2</th>
                <th>Answer3</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>

                <td>{{ question.questionText }}</td>
                <td>{{ question.correctAnswer }}</td>
                <td>{{ question.answer1 }}</td>
                <td>{{ question.answer2 }}</td>
                <td>{{ question.answer3 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
